<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	

	
	<!-- 配置认证管理器 -->
	<authentication-manager>
		<!-- 认证的提供者 -->
		<authentication-provider user-service-ref="userDetailsService">
			<!-- <user-service>
				<user name="admin" password="123456" authorities="ROLE_ADMIN"/>
				<user name="wc" password="123456" authorities="ROLE_ADMIN"/>
			</user-service> -->
			<password-encoder ref="passwordEncoder"/>
		</authentication-provider>
	</authentication-manager>
		
		
	<!-- 配置自定义的认证类 -->
	<beans:bean id="userDetailsService" class="com.pinyougou.service.UserDetailsServiceImpl">
		<beans:property name="sellerService" ref="sellerService"/>
	</beans:bean>
	
	<!-- 引用dubbo 服务 -->
	<dubbo:application name="pinyougou-shop-web" />
	<dubbo:registry address="zookeeper://192.168.25.135:2181"/>
<!-- 	<dubbo:annotation package="com.pinyougou.shop.controller" />  	 -->
	<dubbo:reference id="sellerService" interface="com.pinyougou.sellergoods.service.SellerService"/>

	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans:beans>